/doc/chap0.html
/.gitignore
/doc/chap0.txt
/doc/chap1.html
/doc/chap1.txt
/doc/chapInd.html
/doc/chapInd.txt
/doc/main.aux
/doc/main.idx
/doc/main.ilg
/doc/main.ind
/doc/main.log
/doc/main.out
/doc/main.pnr
/doc/main.tex
/doc/main.toc
/doc/manual.pdf
/doc/manual.six
